:root {
  --main-bg-color: #f0f2f5;
  --menu-bg-color: #304156;
  --menu-hover-color: #263445;
  --menu-active-color: #409eff;
  --header-height: 50px;
  --tags-view-height: 34px;
  --sidebar-width: 210px;
  --sidebar-hide-width: 54px;
} 