<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.system2.mapper.SysRoleMenuMapper">
    <!-- 与Java接口的完全限定名一致 -->
    <!-- 查询角色关联菜单ID -->
    <select id="selectMenuIdsByRoleId" resultType="java.lang.Long">
        SELECT menu_id 
        FROM sys_role_menu 
        WHERE role_id = #{roleId}
    </select>

    <!-- 保存角色菜单关系 -->
    <update id="updateRoleMenu">
        DELETE FROM sys_role_menu WHERE role_id = #{roleId};
        
        INSERT INTO sys_role_menu(role_id, menu_id) VALUES
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{roleId}, #{menuId})
        </foreach>
    </update>

    <insert id="batchRoleMenu">
        INSERT INTO sys_role_menu(role_id, menu_id) VALUES
        <foreach collection="menuIds" item="menuId" separator=",">
            (#{roleId}, #{menuId})
        </foreach>
    </insert>

    <delete id="deleteRoleMenuByRoleId">
        DELETE FROM sys_role_menu WHERE role_id = #{roleId}
    </delete>
</mapper> 