<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.system2.mapper.SysUserDeptMapper">
    
    <select id="existsUserDept" resultType="boolean">
        SELECT COUNT(1) 
        FROM sys_user_dept 
        WHERE user_id = #{userId} 
        AND dept_id = #{deptId}
    </select>
    
    <select id="isSuperior" resultType="boolean">
        SELECT COUNT(1) 
        FROM sys_user_dept ud1
        JOIN sys_user_dept ud2 ON ud1.dept_id = ud2.dept_id
        WHERE ud1.user_id = #{subordinateId}
        AND ud2.user_id = #{leaderId}
        AND ud1.post_sort <![CDATA[ < ]]> ud2.post_sort
    </select>
    
    <update id="updateUserDept">
        UPDATE sys_user_dept
        SET dept_id = #{deptId}
        WHERE user_id = #{userId}
    </update>
    
</mapper> 